<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<h1>Negative tweet</h1>
<img src='https://previews.123rf.com/images/romastudio/romastudio1905/romastudio190500048/123396236-man-s-hand-shows-thumb-down-isolated-on-white-background-negative-concept-close-up-high-resolution-p.jpg' width="250 " height="200"> 


<style>
        body {
            background-color: red;
            text-align:center;
            padding: 0px;
        }
    </style>
</body>
</html>