<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<h1>Neutral Tweet</h1>
<img src='https://cdn3.mycity4kids.com/images/article-images/web/headersV2/img-20170601-592f8859e28dd.JPG' width="250 " height="200"> 


<style>
        body {
            background-color: red;
            text-align:center;
            padding: 0px;
        }
    </style>
</body>
</html>