<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<h1>Positive tweet</h1>
<img src='https://cdn4.vectorstock.com/i/1000x1000/11/63/thumbs-up-emoticon-vector-9701163.jpg' width="250 " height="200"> 


<style>
        body {
            background-color: lightgreen;
            text-align:center;
            padding: 0px;
        }
    </style>
</body>
</html>